<!DOCTYPE html>
<html>
<head>
    <link href="static/styles/index.css" rel="stylesheet">
    <!-- <link href="/campusPlacementPredapp/static/styles/index.css" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <nav class="navbar">
        <div class="logo"><a href="/">Campus Placement Predictor</a></div>
        <div class="logobox"><img src="static/images/ibm.png" alt="" style="height: 30px;"><img src="static/images/smartinternz.png" alt="" style="height: 30px;"></div>
    </nav>
    {% block content %}{% endblock %}
    <script src="static/scripts/index.js"></script>
</body>
</html>
