{% extends "base.html" %}

{% block content %}
<div class="grid">
    <a class="p1" href="/pstatement">
        <div>Problem statement:</div>
        Identifying Patterns and Trends in Campus Placement Data using Machine Learning
        <img src="static/images/4163433.jpg" alt="img"
            style="height: 200px; border-radius: 10px;">
    </a>
    <a class="p2" href="/form">
        <h1>Campus Placement Predictor</h1>
    </a>
    <div class="p3" href="/pstatement">
        <div>By:</div>
        Himalaya Gahlot (Team: Goblet Of Fire)
        <a href="/idea" class="btn">View Idea</a>
    </div>

</div>
{% endblock %}